<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="/img/UPS.jpg" alt="UPS" class="rounded-circle">
            <h2 class="mb-links">
                Pagina web creada con el aporte de la Universidad Politécnica Salesiana
            </h2>
            <h3 class="mb-5">
                <em>Para la comercialización de productos agrícolas</em>
            </h3>            
        </div>
    </header>
</main>